@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url("../fonts/Cairo/Cairo-Thin.ttf") format('truetype');
}

@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/Cairo/Cairo-SemiBold.ttf") format('truetype');
}

@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/Cairo/Cairo-Regular.ttf") format('truetype');
}

@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/Cairo/Cairo-Medium.ttf") format('truetype');
}

@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../fonts/Cairo/Cairo-Light.ttf") format('truetype');
}

@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url("../fonts/Cairo/Cairo-ExtraLight.ttf") format('truetype');
}

@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("../fonts/Cairo/Cairo-ExtraBold.ttf") format('truetype');
}

@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/Cairo/Cairo-Bold.ttf") format('truetype');
}

@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("../fonts/Cairo/Cairo-Black.ttf") format('truetype');
}