body {
    font-family: "Cairo", sans-serif !important;
}

.dark-style .bg-menu-theme .menu-item.open:not(.menu-item-closing)>.menu-toggle {
    color: #cadced;
}

p, h1, h2, h3, h4, h5, h6, a, span {
    font-family: "Cairo", sans-serif !important;
}

.light-style .bg-menu-theme .menu-item.open:not(.menu-item-closing)>.menu-toggle {
    color: #E02828;
    background-color: #ffeeee !important;
}

.light-style body {
    background-color: #3337af0a;
}

.light-style .bg-menu-theme,
.light-style .app-brand .layout-menu-toggle {
    background-color: white !important;
    box-shadow: 0 0 0.375rem 0.25rem rgba(161, 172, 184, 0.15);
    border-color: #f4f5fb;
}

.light-style .bg-menu-theme .menu-link {
    color: black;
}

table.dataTable tfoot td,
table.dataTable thead th,
table.dataTable tfoot th {
    text-align: right;
}

.dark-style .bg-menu-theme .menu-inner>.menu-item.active>.menu-link {
    background-color: #2b2c40 !important;
    color: #E02828 !important;
}

.dark-style .bg-menu-theme .menu-item.active>.menu-link:not(.menu-toggle) {
    background-color: transparent;
}

.bg-menu-theme .menu-inner>.menu-item.active:before {
    background: #501810;
}

.dark-style .bg-menu-theme {
    background-color: #2b2c40 !important;
}

.dark-style .app-brand .layout-menu-toggle i {
    color: #cadced;
}

.dark-style .app-brand .layout-menu-toggle {
    background-color: #2b2c40;
    border: 7px solid #232333;
}

.dark-style .bg-menu-theme .menu-sub>.menu-item.active>.menu-link:not(.menu-toggle):before {
    background-color: #830a5f !important;
    border: 3px solid #cadced !important;
}

.light-style .app-brand .layout-menu-toggle i {
    color: #830a5f;
}

.light-style .bg-menu-theme .menu-inner>.menu-item.active>.menu-link {
    background-color: #501810!important;
    color: black!important;
}

.light-style .bg-menu-theme .menu-inner>.menu-item.active:before {
    background: #501810;
}

.light-style .bg-menu-theme .menu-sub>.menu-item.active>.menu-link:not(.menu-toggle):before {
    background-color: #E02828 !important;
    border: 3px solid #ffa397 !important;
}

.light-style .bg-menu-theme .menu-inner>.menu-item.open .menu-item.active>.menu-link:before {
    box-shadow: 0 0 0 2px #501810 ;
}

.light-style .app-brand .layout-menu-toggle i {
    color: #501810;
}

.light-style .bg-menu-theme .menu-inner-shadow {
    background: linear-gradient(#ffa397 41%,
            rgba(35, 52, 70, 0.11) 95%,
            rgba(35, 52, 70, 0));
}

.light-style .bg-menu-theme .menu-item.active>.menu-link:not(.menu-toggle) {
    color: white !important;
    background-color: transparent;
    
}

.card-header a button,
button[type="submit"],
.card-header .create-new,
.page-item.active .page-link {
    background: #501810  !important;
    border-color: #501810  !important;
    box-shadow: 0 0.125rem 0.125rem 0 #501810 !important;
    color: white;

}

.card-header a button:hover,
button[type="submit"]:hover,
.card-header .create-new:hover,
.page-item.active .page-link:hover {
    background-color: #2a1c05 !important;
    border-color: #2a1c05 !important;
    color: white;
}

.card-header a button {
    color: white;
}

.card-header button[type="button"].buttons-collection {
    background-color: #faa41c !important;
    border-color: #faa41c;
    color: white;
    box-shadow: 0 0.125rem 0.25rem 0 rgb(0 7 118 / 41%);
}

.card-header a button[type="button"].buttons-collection:hover {
    background-color: #ffb744 !important;
    border-color: #ffb744 !important;
}

/* styles */
.light-style .bg-menu-theme .menu-horizontal-next.active,
.light-style .bg-menu-theme .menu-horizontal-next:focus,
.light-style .bg-menu-theme .menu-horizontal-next:hover,
.light-style .bg-menu-theme .menu-horizontal-prev.active,
.light-style .bg-menu-theme .menu-horizontal-prev:focus,
.light-style .bg-menu-theme .menu-horizontal-prev:hover,
.light-style .bg-menu-theme .menu-link.active,
.light-style .bg-menu-theme .menu-link:focus,
.light-style .bg-menu-theme .menu-link:hover {
    color: #501810  !important;
}

table {
    white-space: nowrap;
    /* Ensure content stays on one line */
}

[dir="rtl"] table.dataTable thead .sorting:before,
[dir="rtl"] table.dataTable thead .sorting:after {
    left: 0.4em !important;
}
/* :where(.css-dev-only-do-not-override-1p3hq3p).ant-modal-root .ant-modal-wrap,:where(.css-dev-only-do-not-override-1p3hq3p).ant-modal-root .ant-modal-mask{
    z-index: 3001;
} */