/* Regular 400 */
@font-face {
  font-family: 'TheYearofHandicrafts';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/TheYearofHandicrafts/TheYearofHandicrafts-Regular.otf") format('opentype');
}

/* Medium 500 */
@font-face {
  font-family: 'TheYearofHandicrafts';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/TheYearofHandicrafts/TheYearofHandicrafts-Medium.otf") format('opentype');
}

/* SemiBold 600 */
@font-face {
  font-family: 'TheYearofHandicrafts';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/TheYearofHandicrafts/TheYearofHandicrafts-SemiBold.otf") format('opentype');
}

/* Bold 700 */
@font-face {
  font-family: 'TheYearofHandicrafts';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/TheYearofHandicrafts/TheYearofHandicrafts-Bold.otf") format('opentype');
}

/* Black 900 */
@font-face {
  font-family: 'TheYearofHandicrafts';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("../fonts/TheYearofHandicrafts/TheYearofHandicrafts-Black.otf") format('opentype');
}
